src/flows/Create_Renewal_Opp_and_its_Lines_flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Contact_role_to_List</name>
        <label>Add Contact role to List</label>
        <locationX>264</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>Contact_Role_List_var</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Single_Contact_Role_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Store_Contact_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>We will use the single contact role variable from Loop element and assign it to new variable.</description>
        <name>Assign_Contact_Role_Field_Value</name>
        <label>Assign Contact Role Field Value</label>
        <locationX>264</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>Single_Contact_Role_Record.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newlyCreatedOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Contact_Role_Record.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Store_Contact_Role.Role</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Contact_Role_Record.IsPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Store_Contact_Role.IsPrimary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Contact_Role_Record.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Store_Contact_Role.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Contact_Role_Record.IsPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Store_Contact_Role.IsPrimary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Contact_role_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lines_to_Add</name>
        <label>Assign_Lines_to_Add</label>
        <locationX>264</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>coll_Lines_to_add</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>svarNewOpptyLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_OpportunityLines_likely_whatever_won_opplines_triggered_this</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OriginalLine_Term_End_Date</name>
        <label>Assign OriginalLine TermEndDate</label>
        <locationX>264</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>OriginalLineTermEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>svarOppLine.Term_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignNewOpptyLineVariables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewOpptyLineVariables</name>
        <label>AssignNewOpptyLineVariables</label>
        <locationX>264</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>svarNewOpptyLine.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newlyCreatedOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svarNewOpptyLine.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>svarOppLine.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svarNewOpptyLine.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>svarOppLine.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svarNewOpptyLine.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>svarOppLine.ARR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svarNewOpptyLine.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>svarOppLine.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svarNewOpptyLine.Product_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svarNewOpptyLine.Cores_Per_Production_Instance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>svarOppLine.Cores_Per_Production_Instance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svarNewOpptyLine.Production_Licenses__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>svarOppLine.Production_Licenses__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svarNewOpptyLine.Test_Licenses__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>svarOppLine.Test_Licenses__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svarNewOpptyLine.Project_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>svarOppLine.Project_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svarNewOpptyLine.Multi_Year_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>svarOppLine.Multi_Year_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svarNewOpptyLine.Product_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svarNewOpptyLine.ProductType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>svarOppLine.ProductType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svarNewOpptyLine.Term_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OriginalLineTermEndPlus1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svarNewOpptyLine.Term_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewTermEndCalculatedByFlowFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svarNewOpptyLine.Contract_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Lines_to_Add</targetReference>
        </connector>
    </assignments>
    <description>A new Opportunity with Record type “Renewal” is auto-created when the following conditions are met: Opportunity Stage field is set to “Closed Won”; “Do Not Create Renewal Opportunity” checkbox is set to “False”; “Has Subscription Line Items” checkbox on the Opportunity is checked.


This flow has gone through multiple iterations all detailed in these JIRA tickets:
1. https://sfdxspt-neoj4.atlassian.net/browse/SFDCSPT-304
2. https://sfdxspt-neoj4.atlassian.net/browse/SFDCSPT-388</description>
    <formulas>
        <description>This Formula field calculates the Close Date of the Newly created Renewal Opportunity.</description>
        <name>formula_calculate_renewal_opp_close_date</name>
        <dataType>Date</dataType>
        <expression>{!firstsubTermDate}+1</expression>
    </formulas>
    <formulas>
        <description>This Formula field calculate the Naming Convention of the newly created Renewal Opportunity. For Ex- If the Base Opportunity Name is &quot;ABC Corp&quot; and the OLI term year is 2021, then the newly created renewal opportunity name will be ABC Corp - Renewal 2022.</description>
        <name>NewOpptyName</name>
        <dataType>String</dataType>
        <expression>If(Contains({!varOpptyName},&apos;- Renewal&apos;),TRIM(LEFT({!varOpptyName},FIND(&quot; - Renewal&quot;,{!varOpptyName}))) + &quot; - Renewal &quot; + Text(Year({!firstsubTermDate})),{!varOpptyName} + &quot; - Renewal &quot; +Text(Year({!firstsubTermDate})))</expression>
    </formulas>
    <formulas>
        <description>This formula field is used to calculate the Term End Date of the Renewed Opportunity Products. This handles the leap logic as well.</description>
        <name>NewTermEndCalculatedByFlowFormula</name>
        <dataType>Date</dataType>
        <expression>/*  https://help.salesforce.com/articleView?id=formula_examples_dates.htm&amp;type=5
Below formula has been referenced from above salesforce article. It handles the leap year scenario nicely for the term end Date. If you ll look at the end we are subtracting one day from the result to meet out desired business process. Otherwise below formula returns exactly same date of the next year.
*/
(IF(
  AND(
    MONTH( {!OriginalLineTermEndPlus1} ) = 2,
    DAY( {!OriginalLineTermEndPlus1} ) = 29,
    NOT( 
      OR( 
        MOD( YEAR( {!OriginalLineTermEndPlus1} ) + 1, 400 ) = 0, 
        AND( 
          MOD( YEAR( {!OriginalLineTermEndPlus1} ) + 1, 4 ) = 0,
          MOD( YEAR( {!OriginalLineTermEndPlus1} ) + 1, 100 ) != 0
        )
      )
    ) 
  ),
  DATE( YEAR( {!OriginalLineTermEndPlus1} ) + 1, 3, 1),
  DATE( YEAR( {!OriginalLineTermEndPlus1} ) + 1, MONTH( {!OriginalLineTermEndPlus1} ), DAY( {!OriginalLineTermEndPlus1} ) )
))-1</expression>
    </formulas>
    <formulas>
        <description>This formula takes the date value from the Term End Date field of the base Opportunity Product object and adds 1 to it.</description>
        <name>OriginalLineTermEndPlus1</name>
        <dataType>Date</dataType>
        <expression>{!OriginalLineTermEndDate}+1</expression>
    </formulas>
    <interviewLabel>Create Renewal Opp and its Lines flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Renewal Opp and its Lines flow</label>
    <loops>
        <description>This Loop iterates over all the Contact Role and will create one for the Renewal Opportunity.</description>
        <name>Iterate_Store_Contact_Role</name>
        <label>Iterate Store Contact Role</label>
        <locationX>176</locationX>
        <locationY>1574</locationY>
        <collectionReference>Store_Contact_Role</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Contact_Role_Field_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Contact_Role_For_Renewal_Opportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>This loop will iterate through all the Base opportunity lines.</description>
        <name>Loop_Through_OpportunityLines_likely_whatever_won_opplines_triggered_this</name>
        <label>Loop Through OpportunityLines (likely whatever won opplines triggered this)</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignNextValueToReference>svarOppLine</assignNextValueToReference>
        <collectionReference>collOpptyLines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Lookup_Price_Book_Entry</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact_Role_For_Renewal_Opportunity</name>
        <label>Create Contact Role For Renewal Opportunity</label>
        <locationX>176</locationX>
        <locationY>2030</locationY>
        <inputReference>Contact_Role_List_var</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Line_Items</name>
        <label>Create Line Items</label>
        <locationX>176</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>Get_Contact_Roles_Record</targetReference>
        </connector>
        <inputReference>coll_Lines_to_add</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create the renewal opportunity and assign a bunch of fields. TODO handle Opportunity.Auto_Renewal__c,Opportunity.Invoice_Frequency__c,Opportunity.Payment_Terms__c</description>
        <name>Create_Renewal_Opportunity</name>
        <label>Create Renewal Opportunity</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignRecordIdToReference>newlyCreatedOpportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>Flookup_Opportunity_Lines</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Renewal__c</field>
            <value>
                <elementReference>varAutoRenewal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>formula_calculate_renewal_opp_close_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>varCurrencyISO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Project_Profile__c</field>
            <value>
                <elementReference>varCustomerProjectProfile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field_Engineer__c</field>
            <value>
                <elementReference>varFieldEngineer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Frequency__c</field>
            <value>
                <elementReference>varInvoiceFrequency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoicing_Instructions__c</field>
            <value>
                <elementReference>varInvoicingInstructions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Obligations__c</field>
            <value>
                <elementReference>varMarketingObligations</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NewOpptyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opp_Support_Level__c</field>
            <value>
                <elementReference>varOppSupportLevel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Opportunity__c</field>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Use_Case__c</field>
            <value>
                <elementReference>varOtherUseCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varOwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Role__c</field>
            <value>
                <elementReference>varPartnerRole</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner__c</field>
            <value>
                <elementReference>varPartner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Terms__c</field>
            <value>
                <elementReference>varPaymentTerms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Cloud_Provider__c</field>
            <value>
                <elementReference>varPreferredCloudProvider</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>varPB2ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ActiveOpportunityRenewalRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewals_Manager__c</field>
            <value>
                <elementReference>varRenewalsManager</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Renewal 75%</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCV_USD__c</field>
            <value>
                <elementReference>varTCV</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Use_Case_Sub__c</field>
            <value>
                <elementReference>varUseSubCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Use_Case__c</field>
            <value>
                <elementReference>varUseCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Workload_Type__c</field>
            <value>
                <elementReference>varWorkloadType</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>Flookup_Opportunity_Lines</name>
        <label>Flookup Opportunity Lines</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_OpportunityLines_likely_whatever_won_opplines_triggered_this</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Professional_Services__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Subscription2__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>collOpptyLines</outputReference>
        <queriedFields>Description</queriedFields>
        <queriedFields>ListPrice</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>ProductCode</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>Perpetual__c</queriedFields>
        <queriedFields>Production_Licenses__c</queriedFields>
        <queriedFields>Cores_Per_Production_Instance__c</queriedFields>
        <queriedFields>Test_Licenses__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>ARR__c</queriedFields>
        <queriedFields>Quota_ARR__c</queriedFields>
        <queriedFields>Quota_Non_ARR__c</queriedFields>
        <queriedFields>Project_Name__c</queriedFields>
        <queriedFields>Auto_Renewal__c</queriedFields>
        <queriedFields>Contract_Terms__c</queriedFields>
        <queriedFields>Invoice_Frequency__c</queriedFields>
        <queriedFields>Term_Start_Date__c</queriedFields>
        <queriedFields>Term_End_Date__c</queriedFields>
        <queriedFields>Product_Type__c</queriedFields>
        <queriedFields>ProductType__c</queriedFields>
        <queriedFields>Payment_Terms__c</queriedFields>
        <queriedFields>Multi_Year_Type__c</queriedFields>
        <queriedFields>Quota_Non_ARR_USD__c</queriedFields>
        <queriedFields>Quota_ARR_USD__c</queriedFields>
        <queriedFields>MYC_Contract_Amount__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>This Get record Element will get all the contact Roles associated with the base Opportunity and create the same for the Newly created Opportunity.</description>
        <name>Get_Contact_Roles_Record</name>
        <label>Get Contact Roles Record</label>
        <locationX>176</locationX>
        <locationY>1454</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Store_Contact_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <outputReference>Store_Contact_Role</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Role</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>IsPrimary</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Renewal_RecordTypeId</name>
        <label>Get Active Renewal RecordTypeId</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_won_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>ActiveOpportunityRenewalRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>This node gets the fields we&apos;ll need in later nodes. Note that in later nodes the Term_Start_Date__c (of the renewal) will be assigned per the originating opps&apos; {!varTermEndDate}+1 . At time of writing the originating opp is the one that experiences closed won. Due to project-wip i need to handle Opportunity.Auto_Renewal__c, Opportunity.Invoice_Frequency__c, Opportunity.Payment_Terms__c and possibly more.</description>
        <name>Get_won_Opportunity</name>
        <label>Get won Opportunity</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Renewal_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>varAccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAutoRenewal</assignToReference>
            <field>Auto_Renewal__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCloseDate</assignToReference>
            <field>CloseDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCurrencyISO</assignToReference>
            <field>CurrencyIsoCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCustomerProjectProfile</assignToReference>
            <field>Customer_Project_Profile__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varFieldEngineer</assignToReference>
            <field>Field_Engineer__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInvoiceFrequency</assignToReference>
            <field>Invoice_Frequency__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInvoicingInstructions</assignToReference>
            <field>Invoicing_Instructions__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varMarketingObligations</assignToReference>
            <field>Marketing_Obligations__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOpptyName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOppSupportLevel</assignToReference>
            <field>Opp_Support_Level__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOtherUseCase</assignToReference>
            <field>Other_Use_Case__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOwnerID</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPartnerRole</assignToReference>
            <field>Partner_Role__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPartner</assignToReference>
            <field>Partner__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPaymentTerms</assignToReference>
            <field>Payment_Terms__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPreferredCloudProvider</assignToReference>
            <field>Preferred_Cloud_Provider__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPB2ID</assignToReference>
            <field>Pricebook2Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varRenewalsManager</assignToReference>
            <field>Renewals_Manager__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTCV</assignToReference>
            <field>TCV_USD__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>firstsubTermDate</assignToReference>
            <field>Term_End_Date_First_Subscription_OLI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varUseSubCase</assignToReference>
            <field>Use_Case_Sub__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varUseCase</assignToReference>
            <field>Use_Case__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Price_Book_Entry</name>
        <label>Lookup Price Book Entry</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_OriginalLine_Term_End_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01s6A000002mDjZ</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>svarOppLine.Product2Id</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>varPBEntryID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Renewal_RecordTypeId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ActiveOpportunityRenewalRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This Variable stores all the temporary opportunity line item into a list</description>
        <name>coll_Lines_to_add</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <description>This variable stores the Base Opportunity Line item that will be used to loop over.</description>
        <name>collOpptyLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <description>This Variable is used to hold the Opportunity Contact Role List.</description>
        <name>Contact_Role_List_var</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <description>This variable stores the first Subscription term date which comes from Opportunity Line item and updates the opportunity.</description>
        <name>firstsubTermDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newlyCreatedOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OriginalLineTermEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Single Contact Role Variable to create contact role for the Renewal Opportunity.</description>
        <name>Single_Contact_Role_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <description>This Resource will store the Contact Role retrieved from the Opportunity for further reference.</description>
        <name>Store_Contact_Role</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <description>Temporary assignment of the Opportunity Product during looping.</description>
        <name>svarNewOpptyLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>svarOppLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varACV</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varARR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varAutoRenewal</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCloseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContractTermMonths</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varCurrencyISO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCustomerProjectProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFieldEngineer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varInvoiceFrequency</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varInvoicingInstructions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMarketingObligations</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varnewclosedate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewOpptyLineName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOppSupportLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOpptyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOtherUseCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPartner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPartnerRole</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPaymentTerms</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPB2ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPBEntryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPreferredCloudProvider</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varprojectname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRenewalsManager</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRenewalTermsStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTCV</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varTermEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUseCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varusecasesub</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUseSubCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varWorkloadType</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
