src/flows/Enrich_Whitespace_Created_Accounts_with_D_B_Data.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <description>Is this Account&apos;s billing  the U.S. or Canada according to the D&amp;B data? This decision element is used to separate U.S. and Canada-based Accounts from the rest because the State field picklist is restricted and required for those Accounts.</description>
        <name>Based_in_U_S_or_Canada</name>
        <label>Based in U.S. or Canada?</label>
        <locationX>974</locationX>
        <locationY>373</locationY>
        <defaultConnector>
            <targetReference>Has_D_B_Shipping_Country_Website</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.D_B_Primary_Address_Country_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United States</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.D_B_Primary_Address_Country_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_D_B_Shipping_Country_State_Website</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Does this record have both D&amp;B mailing shipping country and state fields populated?</description>
        <name>Has_D_B_Shipping_Country_State_Website</name>
        <label>Has D&amp;B Shipping Country, State, Website?</label>
        <locationX>446</locationX>
        <locationY>493</locationY>
        <defaultConnector>
            <targetReference>Update_Billing_Shipping_Website_Billing_for_Both</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, No, Yes</defaultConnectorLabel>
        <rules>
            <name>Shipping_country_state_and_website</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.D_B_Mailing_Address_Country_Region__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.D_B_Mailing_Address_State_Province__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.D_B_Web_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Billing_Shipping_Website</targetReference>
            </connector>
            <label>Yes, Yes, Yes</label>
        </rules>
        <rules>
            <name>Shipp_ctry_st_NO_web</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.D_B_Mailing_Address_Country_Region__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.D_B_Mailing_Address_State_Province__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.D_B_Web_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Billing_Shipping_Only</targetReference>
            </connector>
            <label>Yes, Yes, No</label>
        </rules>
        <rules>
            <name>NO_shipp_ctry_NO_st_NO_web</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.D_B_Mailing_Address_Country_Region__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.D_B_Mailing_Address_State_Province__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.D_B_Web_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Billing_Shipping_Only_Billing_for_Both</targetReference>
            </connector>
            <label>No, No, No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Does this record have D&amp;B Mailing Country and Web Address fields populated?</description>
        <name>Has_D_B_Shipping_Country_Website</name>
        <label>Has D&amp;B Shipping Country &amp; Website?</label>
        <locationX>1502</locationX>
        <locationY>493</locationY>
        <defaultConnector>
            <targetReference>Update_Billing_Shipping_Website_Billing_for_Both1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Yes</defaultConnectorLabel>
        <rules>
            <name>Shipping_country_and_website1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.D_B_Mailing_Address_Country_Region__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.D_B_Web_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Billing_Shipping_Website1</targetReference>
            </connector>
            <label>Yes, Yes</label>
        </rules>
        <rules>
            <name>Shipping_no_website</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.D_B_Mailing_Address_Country_Region__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.D_B_Web_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Billing_Shipping_Only1</targetReference>
            </connector>
            <label>Yes, No</label>
        </rules>
        <rules>
            <name>No_shipping_no_website</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.D_B_Mailing_Address_Country_Region__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.D_B_Web_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Billing_Shipping_Only_billing_for_both1</targetReference>
            </connector>
            <label>No, No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluates whether the Account record meets criteria to be updated.</description>
        <name>Meets_Entry_Criteria</name>
        <label>Meets Entry Criteria?</label>
        <locationX>1568</locationX>
        <locationY>253</locationY>
        <defaultConnector>
            <targetReference>Clear_Update_from_Whitespace</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Exclude_from_D_B_Matching__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imported_from_Whitespace__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Update_from_Whitespace__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Based_in_U_S_or_Canada</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Populates key standard fields on the Accounts created manually using Traction Whitespace. It populate when an Account is created and subsequently every 15 days when the Account is updated by D&amp;B Optimizer UNLESS the &quot;Exclude from D&amp;B Matching&quot; checkbox on the Account page is checked. Works with the &quot;Update from Whitespace&quot; Workflow Rule that will be eliminated sometime after the Winter &apos;21 Release when additional Flow functionality is delivered making this Workflow Rule redundant.</description>
    <formulas>
        <description>Concatenated D&amp;B primary street address.</description>
        <name>FormulaBillingStreet</name>
        <dataType>String</dataType>
        <expression>{!$Record.D_B_Primary_Address_Line_1__c} &amp; &quot; &quot; &amp; {!$Record.D_B_Primary_Address_Line_2__c}</expression>
    </formulas>
    <formulas>
        <description>Concatenated D&amp;B mailing street address.</description>
        <name>FormulaMailingStreet</name>
        <dataType>String</dataType>
        <expression>{!$Record.D_B_Mailing_Address_Line_1__c} &amp; &quot; &quot; &amp; {!$Record.D_B_Mailing_Address_Line_1__c}</expression>
    </formulas>
    <interviewLabel>Enrich Whitespace Created Accounts with D&amp;B Data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enrich Whitespace Created Accounts with D&amp;B Data</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Clear &quot;Update from Whitespace&quot; checkbox on the record, because it doesn&apos;t meet criteria to be updated.</description>
        <name>Clear_Update_from_Whitespace</name>
        <label>Clear &quot;Update from Whitespace&quot;</label>
        <locationX>2162</locationX>
        <locationY>373</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Update_from_Whitespace__c</field>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update standard billing and shipping address fields with available D&amp;B data. As D&amp;B website isn&apos;t available, don&apos;t update standard Website field with a blank value.</description>
        <name>Update_Billing_Shipping_Only</name>
        <label>Update Billing &amp; Shipping Only</label>
        <locationX>314</locationX>
        <locationY>613</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AnnualRevenue</field>
            <value>
                <elementReference>$Record.D_B_Sales_Volume_USD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.D_B_Primary_Address_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>$Record.D_B_Primary_Address_Country_Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.D_B_Primary_Address_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>$Record.D_B_Primary_Address_State_Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>FormulaBillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumberOfEmployees</field>
            <value>
                <elementReference>$Record.D_B_Employee_Count_Here__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>$Record.D_B_Mailing_Address_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>$Record.D_B_Mailing_Address_Country_Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>$Record.D_B_Mailing_Address_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>$Record.D_B_Mailing_Address_State_Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>FormulaMailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Update_from_Whitespace__c</field>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update standard billing and shipping address fields with available D&amp;B data. As D&amp;B website isn&apos;t available, don&apos;t update standard Website field with a blank value.</description>
        <name>Update_Billing_Shipping_Only1</name>
        <label>Update Billing &amp; Shipping Only</label>
        <locationX>1370</locationX>
        <locationY>613</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AnnualRevenue</field>
            <value>
                <elementReference>$Record.D_B_Sales_Volume_USD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.D_B_Primary_Address_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>$Record.D_B_Primary_Address_Country_Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.D_B_Primary_Address_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>FormulaBillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumberOfEmployees</field>
            <value>
                <elementReference>$Record.D_B_Employee_Count_Here__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>$Record.D_B_Mailing_Address_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>$Record.D_B_Mailing_Address_Country_Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>$Record.D_B_Mailing_Address_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>FormulaMailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Update_from_Whitespace__c</field>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Since D&amp;B shipping address isn&apos;t available, use D&amp;B billing address information to update both standard billing and shipping address fields. As D&amp;B website isn&apos;t available, don&apos;t update standard Website field with a blank value.</description>
        <name>Update_Billing_Shipping_Only_Billing_for_Both</name>
        <label>Update Billing &amp; Shipping Only (billing for both)</label>
        <locationX>578</locationX>
        <locationY>613</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AnnualRevenue</field>
            <value>
                <elementReference>$Record.D_B_Sales_Volume_USD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.D_B_Primary_Address_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>$Record.D_B_Primary_Address_Country_Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.D_B_Primary_Address_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>$Record.D_B_Primary_Address_State_Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>FormulaBillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumberOfEmployees</field>
            <value>
                <elementReference>$Record.D_B_Employee_Count_Here__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>$Record.D_B_Primary_Address_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>$Record.D_B_Primary_Address_Country_Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>$Record.D_B_Primary_Address_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>$Record.D_B_Primary_Address_State_Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>FormulaBillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Update_from_Whitespace__c</field>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Since D&amp;B shipping address isn&apos;t available, use D&amp;B billing address information to update both standard billing and shipping address fields. As D&amp;B website isn&apos;t available, don&apos;t update standard Website field with a blank value.</description>
        <name>Update_Billing_Shipping_Only_billing_for_both1</name>
        <label>Update Billing &amp; Shipping Only (billing for both)</label>
        <locationX>1634</locationX>
        <locationY>613</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AnnualRevenue</field>
            <value>
                <elementReference>$Record.D_B_Sales_Volume_USD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.D_B_Primary_Address_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>$Record.D_B_Primary_Address_Country_Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.D_B_Primary_Address_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>FormulaBillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumberOfEmployees</field>
            <value>
                <elementReference>$Record.D_B_Employee_Count_Here__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>$Record.D_B_Primary_Address_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>$Record.D_B_Primary_Address_Country_Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>$Record.D_B_Primary_Address_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>FormulaBillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Update_from_Whitespace__c</field>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update standard billing and shipping address and website fields with available D&amp;B data.</description>
        <name>Update_Billing_Shipping_Website</name>
        <label>Update Billing, Shipping, Website</label>
        <locationX>50</locationX>
        <locationY>613</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AnnualRevenue</field>
            <value>
                <elementReference>$Record.D_B_Sales_Volume_USD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.D_B_Primary_Address_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>$Record.D_B_Primary_Address_Country_Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.D_B_Primary_Address_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>$Record.D_B_Primary_Address_State_Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>FormulaBillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumberOfEmployees</field>
            <value>
                <elementReference>$Record.D_B_Employee_Count_Here__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>$Record.D_B_Mailing_Address_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>$Record.D_B_Mailing_Address_Country_Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>$Record.D_B_Mailing_Address_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>$Record.D_B_Mailing_Address_State_Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>FormulaMailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Update_from_Whitespace__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>$Record.D_B_Web_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update standard billing and shipping address and website fields with available D&amp;B data.</description>
        <name>Update_Billing_Shipping_Website1</name>
        <label>Update Billing, Shipping, Website</label>
        <locationX>1106</locationX>
        <locationY>613</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AnnualRevenue</field>
            <value>
                <elementReference>$Record.D_B_Sales_Volume_USD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.D_B_Primary_Address_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>$Record.D_B_Primary_Address_Country_Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.D_B_Primary_Address_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>FormulaBillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumberOfEmployees</field>
            <value>
                <elementReference>$Record.D_B_Employee_Count_Here__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>$Record.D_B_Mailing_Address_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>$Record.D_B_Mailing_Address_Country_Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>$Record.D_B_Mailing_Address_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>FormulaMailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Update_from_Whitespace__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>$Record.D_B_Web_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Since D&amp;B shipping address isn&apos;t available, use D&amp;B billing address information to update the standard billing and shipping address fields. Update standard Website field with D&amp;B website value.</description>
        <name>Update_Billing_Shipping_Website_Billing_for_Both</name>
        <label>Update Billing, Shipping, Website (billing for both)</label>
        <locationX>842</locationX>
        <locationY>613</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AnnualRevenue</field>
            <value>
                <elementReference>$Record.D_B_Sales_Volume_USD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.D_B_Primary_Address_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>$Record.D_B_Primary_Address_Country_Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.D_B_Primary_Address_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>$Record.D_B_Primary_Address_State_Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>FormulaBillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumberOfEmployees</field>
            <value>
                <elementReference>$Record.D_B_Employee_Count_Here__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>$Record.D_B_Primary_Address_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>$Record.D_B_Primary_Address_Country_Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>$Record.D_B_Primary_Address_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>$Record.D_B_Primary_Address_State_Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>FormulaBillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Update_from_Whitespace__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>$Record.D_B_Web_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Since D&amp;B shipping address isn&apos;t available, use D&amp;B billing address information to update the standard billing and shipping address fields. Update standard Website field with D&amp;B website value.</description>
        <name>Update_Billing_Shipping_Website_Billing_for_Both1</name>
        <label>Update Billing, Shipping, Website (billing for both)</label>
        <locationX>1898</locationX>
        <locationY>613</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AnnualRevenue</field>
            <value>
                <elementReference>$Record.D_B_Sales_Volume_USD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.D_B_Primary_Address_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>$Record.D_B_Primary_Address_Country_Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.D_B_Primary_Address_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>FormulaBillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumberOfEmployees</field>
            <value>
                <elementReference>$Record.D_B_Employee_Count_Here__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>$Record.D_B_Primary_Address_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>$Record.D_B_Primary_Address_Country_Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>$Record.D_B_Primary_Address_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>FormulaBillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Update_from_Whitespace__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>$Record.D_B_Web_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>1442</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Meets_Entry_Criteria</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
