src/flows/OPPORTUNITY_PRODUCT_RTF_Update_Requires_Onboarding_Field.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <description>Determines whether the &apos;Type&apos; field is populated with the value &apos;Renewal&apos; or something different.</description>
        <name>RenewalOLI</name>
        <label>Renewal OLI?</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Get_Associated_Product_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Requires_Onboarding_Field_on_OLI</targetReference>
            </connector>
            <label>Renewal</label>
        </rules>
    </decisions>
    <description>Updates the &apos;Requires Onboarding&apos; field on the Opportunity Line Item (OLI) when the record is created or updated. If the OLI ‘Type’ is ‘Renewal’, the ‘Onboarding Required’ field is always set to ‘False’. For any other ‘Type’ (i.e., New, Upsell, Cross-Sell), the field is set based on the value in the corresponding field - &apos;Requires Onboarding&apos; on the Product associated with the OLI. In other words, the original value is set at the Product level. JIRA: SFDCSPT-449</description>
    <interviewLabel>OPPORTUNITY PRODUCT: Update &apos;Requires Onboarding&apos; Field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OPPORTUNITY PRODUCT: Update &apos;Requires Onboarding&apos; Field</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Fetches and saves the Product record associated with the OLI being processed.</description>
        <name>Get_Associated_Product_Record</name>
        <label>Get Associated Product Record</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Requires_Onboarding_on_OLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the &apos;Requires Onboarding&apos; field on the OLI with &apos;False&apos;, because renewal OLIs do not require onboarding.</description>
        <name>Update_Requires_Onboarding_Field_on_OLI</name>
        <label>Update &apos;Requires Onboarding&apos; Field on OLI</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>RequiresOnboarding__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update the &apos;Requires Onboarding&apos; field on the OLI based on the value in the corresponding field on the associated Product.</description>
        <name>Update_Requires_Onboarding_on_OLI</name>
        <label>Update &apos;Requires Onboarding&apos; on OLI</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>RequiresOnboarding__c</field>
            <value>
                <elementReference>Get_Associated_Product_Record.Requires_Onboarding__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RenewalOLI</targetReference>
        </connector>
        <object>OpportunityLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
