src/flows/Update_Contact_Attached_to_Opportunity.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Evaluate_if_Contact_has_Contact_Role</name>
        <label>Evaluate if Contact has Contact Role</label>
        <locationX>293</locationX>
        <locationY>172</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>End_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactID</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <label>End Flow</label>
        </rules>
        <rules>
            <name>Next_Step</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactID</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_connected_to_opportunity_Field</targetReference>
            </connector>
            <label>Next Step</label>
        </rules>
    </decisions>
    <interviewLabel>Update Contact Attached to Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Contact Attached to Opportunity</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Contact_Role</name>
        <label>Find Contact Role</label>
        <locationX>288</locationX>
        <locationY>38</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_if_Contact_has_Contact_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <outputAssignments>
            <assignToReference>varContactID</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_connected_to_opportunity_Field</name>
        <label>Update &quot;attached to opportunity&quot; Field</label>
        <locationX>297</locationX>
        <locationY>333</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Attached_To_Opportunity__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Attached_To_Opportunity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <startElementReference>Find_Contact_Role</startElementReference>
    <status>Active</status>
    <variables>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
