src/flows/X5_FF_PROJECT_SF_PS_Customer_Project_Expires_Soon_Email_Alert.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send an email alert to each PS Customer.</description>
        <name>Email_Each_Contact_Action</name>
        <label>Email Each Contact</label>
        <locationX>264</locationX>
        <locationY>756</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Through_Opportunity_Contact_Roles_Loop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TextTemplateProjectExpires</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Fetch_Contacts_Get.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>maria.turegano@neo4j.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TextTemplateProjectExpiresSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <description>Send an email alert to the PS customer 60 days prior to the project expiry date.  JIRA: SFDCSPT-722</description>
    <interviewLabel>FF PROJECT : ! 5 PS Customer Project Expires Soon Email Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FF PROJECT : ! 5 PS Customer Project Expires Soon Email Alert</label>
    <loops>
        <description>Loop through the fetched opportunity contact roles one record at a time.</description>
        <name>Loop_Through_Opportunity_Contact_Roles_Loop</name>
        <label>Loop Through Opportunity Contact Roles</label>
        <locationX>176</locationX>
        <locationY>516</locationY>
        <collectionReference>Fetch_Opportunity_Contact_Roles_Get</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Fetch_Contacts_Get</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Fetch the ID of each contact associated with each opportunity contact roles going through the loop one at a time.</description>
        <name>Fetch_Contacts_Get</name>
        <label>Fetch Contacts</label>
        <locationX>264</locationX>
        <locationY>636</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_Each_Contact_Action</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_Opportunity_Contact_Roles_Loop.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the contact roles associated with the project opportunity that meet the criteria.</description>
        <name>Fetch_Opportunity_Contact_Roles_Get</name>
        <label>Fetch Opportunity Contact Roles</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Opportunity_Contact_Roles_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Fetch_Project_Opportunity_Record_Get.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ReceivesPSAlerts__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Fetch the opportunity record associated with the project and store it in a variable.</description>
        <name>Fetch_Project_Opportunity_Record_Get</name>
        <label>Fetch Project Opportunity Record</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Opportunity_Contact_Roles_Get</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pse__Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fetch_Project_Opportunity_Record_Get</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Expires_in_60_Days__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pse__Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </filters>
        <filters>
            <field>pse__Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>pse__Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>pse__Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Delivered</stringValue>
            </value>
        </filters>
        <filters>
            <field>PSA_Community_Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>pse__Proj__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-12-21</startDate>
            <startTime>18:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Text template used to send an email alert to the PS Customer.</description>
        <name>TextTemplateProjectExpires</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!Loop_Through_Opportunity_Contact_Roles_Loop.Contact.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We would like to let you know that your &apos;{!$Record.Name}&apos; project order expires on {!$Record.Expiry_Date__c}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;SUMMARY:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Planned Hours: &lt;b&gt;{!$Record.pse__Planned_Hours__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Delivered Hours: &lt;b&gt;{!$Record.Hours_Delivered__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Remaining Hours: &lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Hours_Remaining__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;To allocate the remaining hours, please submit a &quot;Service Request Form&quot; by logging in to the &lt;/span&gt;&lt;a href=&quot;https://neo4j.force.com/Neo4jCustomerServicePortal/s/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&lt;b&gt;Neo4j Customer Services Portal&lt;/b&gt;&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; and clicking the “Service Request” tile on the homepage.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Sincerely,&lt;/p&gt;&lt;p&gt;Neo4j Professional Services Team&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Subject line for the email that goes out to the PS customer.</description>
        <name>TextTemplateProjectExpiresSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Neo4j: &apos;{!$Record.Name}&apos; Project Expires in 60 Days</text>
    </textTemplates>
</Flow>
