src/flows/X6_FF_PROJECT_SF_Display_Project_Related_Contacts_to_PS_Customer_in_Community.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <description>Checks whether a project that meets the established criteria was found and its record stored in a variable.</description>
        <name>Project_Record_Found_Decision</name>
        <label>Project Record Found?</label>
        <locationX>769</locationX>
        <locationY>514</locationY>
        <defaultConnector>
            <targetReference>No_Team_Message_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project_Record_for_User_s_Account_Get</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>My_Team_Display_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Fetch and display project-related contacts to the PS customer on the homepage of the Customer Community (Experience Cloud). community. JIRA: SFDCSPT-708</description>
    <formulas>
        <name>FormulaAccountOwnerEmail</name>
        <dataType>String</dataType>
        <expression>{!Get_Logged_In_User_Record_Get.Contact.Account.Owner.Email}</expression>
    </formulas>
    <formulas>
        <name>FormulaAccountOwnerFullName</name>
        <dataType>String</dataType>
        <expression>{!Get_Logged_In_User_Record_Get.Contact.Account.Owner.FirstName} &amp; &quot; &quot; &amp; {!Get_Logged_In_User_Record_Get.Contact.Account.Owner.LastName}</expression>
    </formulas>
    <formulas>
        <description>TBD</description>
        <name>FormulaProjectManagerEmail</name>
        <dataType>String</dataType>
        <expression>{!Get_Project_Record_for_User_s_Account_Get.pse__Project_Manager__r.pse__Salesforce_User__r.Email}</expression>
    </formulas>
    <formulas>
        <description>TBD</description>
        <name>FormulaProjectManagerFullName</name>
        <dataType>String</dataType>
        <expression>{!Get_Project_Record_for_User_s_Account_Get.pse__Project_Manager__r.pse__Salesforce_User__r.Contact.pse__Salesforce_User__r.FirstName}</expression>
    </formulas>
    <interviewLabel>PROJECT: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FF PROJECT: ! 6 Display Project Related Contacts to PS Customer in Community</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Fetch the record of the logged in community user.</description>
        <name>Get_Logged_In_User_Record_Get</name>
        <label>Get Logged In User Record</label>
        <locationX>776</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Project_Record_for_User_s_Account_Get</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Fetch the project record that meets criteria associated with the account of the logged in user.</description>
        <name>Get_Project_Record_for_User_s_Account_Get</name>
        <label>Get Project Record for User&apos;s Account</label>
        <locationX>776</locationX>
        <locationY>358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Project_Record_Found_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Logged_In_User_Record_Get.Contact.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>pse__Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>pse__Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>pse__Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Delivered</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pse__Proj__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>This screen is visible to the PS Community Customer.</description>
        <name>My_Team_Display_Screen</name>
        <label>My Team Display</label>
        <locationX>879</locationX>
        <locationY>633</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MyTeamHeading</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(1, 139, 255); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;MY TEAM&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>My_Team_Display_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>My_Team_Display_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccountExecutive</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(105, 100, 100);&quot;&gt;Account Executive:&lt;/b&gt;&lt;b&gt; &lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!FormulaAccountOwnerFullName}&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;mailto:{!FormulaAccountOwnerEmail}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(91, 175, 218);&quot;&gt;{!FormulaAccountOwnerEmail}&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ProjectManager</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(105, 100, 100);&quot;&gt;Project Manager&lt;/b&gt;&lt;b&gt;: &lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Get_Project_Record_for_User_s_Account_Get.pse__Project_Manager__r.pse__Salesforce_User__r.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Get_Project_Record_for_User_s_Account_Get.pse__Project_Manager__r.pse__Salesforce_User__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;mailto:{!Get_Project_Record_for_User_s_Account_Get.pse__Project_Manager__r.pse__Salesforce_User__r.Email}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(91, 175, 218); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Project_Record_for_User_s_Account_Get.pse__Project_Manager__r.pse__Salesforce_User__r.Email}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>This screen is visible to the PS Community Customer.</description>
        <name>No_Team_Message_Screen</name>
        <label>No Team Message</label>
        <locationX>681</locationX>
        <locationY>632</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_Team_Message_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>No_Team_Message_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MyTeamHeading_0_0</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(1, 139, 255); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;MY TEAM&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>No_Team_Message_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>No_Team_Message_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NoTeamMessageToCustomer</name>
                    <fieldText>&lt;p&gt;Dear {!Get_Logged_In_User_Record_Get.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;No Account Executive or Project Manager contact info is available as there are no open projects &lt;span style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;currently associated with your account.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you have any questions, please reach out to Maria Turegano at &lt;a href=&quot;mailto:&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(91, 175, 218);&quot;&gt;maria.turegano@neo4j.com&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Logged_In_User_Record_Get</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
