src/flows/X7_EMAIL_SF_Allow_PS_Customer_to_Email_PS_Team_from_Community.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send email to the Professional Services Team.</description>
        <name>Send_Email_to_PS_Team_Action</name>
        <label>Send Email to PS Team</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Email_Sent_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varProfessionalServicesTeamEmailAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <description>This screen flow allows PS Community customers to email the Professional Services Team directly. JIRA: SFDCSPT-805</description>
    <interviewLabel>EMAIL: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EMAIL: ! 7 Allow PS Customer to Email PS Team in Community</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Displays the confirmation message to the PS Community customer that the email has been sent successfully.</description>
        <name>Email_Sent_Screen</name>
        <label>Email Sent Screen</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>messageSent</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(1, 139, 255);&quot;&gt;Thank you for your inquiry! Our team will get back to you shortly.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>This is the screen the PS customer sees on the community page.</description>
        <name>Send_Email_Screen</name>
        <label>Send Email Screen</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_Email_to_PS_Team_Action</targetReference>
        </connector>
        <fields>
            <name>EmailSubject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EmailBody</name>
            <fieldText>Message Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Send Email</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Email_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Email addresses on the Professional Services Teams that need to receive the email message from the PS Community customer.</description>
        <name>varProfessionalServicesTeamEmailAddresses</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>askaquestion-portal@neotechnology.com, nadia.gainsbourg@neo4j.com</stringValue>
        </value>
    </variables>
</Flow>
