src/flows/X8_FF_RESOURCE_REQUEST_SF_Allow_PS_Cust_to_Create_Resource_Request_in_Community.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Notify the PS team that a new resource request has been submitted by a PS Community customer.</description>
        <name>Email_PS_Team_Action</name>
        <label>Email PS Team</label>
        <locationX>314</locationX>
        <locationY>1466</locationY>
        <actionName>pse__Resource_Request__c.PSA_Community_Resource_Request_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Resource_Request_Submitted_Confirmation_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varNewResourceRequest.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <description>This email address is used to route messages to the &apos;Americas&apos; PS team recipients.</description>
        <name>Assign_Americas_Email_Address_Assignment</name>
        <label>Assign &apos;Americas&apos; Email Address</label>
        <locationX>50</locationX>
        <locationY>1010</locationY>
        <assignmentItems>
            <assignToReference>varEmailAddressByRegion</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ps_amer_pmo@neotechnology.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Values_to_New_Resource_Create_Record_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This email address is used to route messages to the &apos;APAC&apos; PS team recipients.</description>
        <name>Assign_APAC_Email_Address_Assignment</name>
        <label>Assign APAC Email Address</label>
        <locationX>314</locationX>
        <locationY>1010</locationY>
        <assignmentItems>
            <assignToReference>varEmailAddressByRegion</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>maria.turegano@neo4j.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Values_to_New_Resource_Create_Record_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This email address is used to route messages to the &apos;EMEA&apos; PS team recipients.</description>
        <name>Assign_EMEA_Email_Address_Assignment</name>
        <label>Assign EMEA Email Address</label>
        <locationX>578</locationX>
        <locationY>1010</locationY>
        <assignmentItems>
            <assignToReference>varEmailAddressByRegion</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ps_emea_pmo@neotechnology.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Values_to_New_Resource_Create_Record_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This element assigns values that the new resource request record submitted by the PS Community customer will have.</description>
        <name>Assign_Values_to_New_Resource_Create_Record_Assignment</name>
        <label>Assign Values to New Resource Create Record</label>
        <locationX>314</locationX>
        <locationY>1226</locationY>
        <assignmentItems>
            <assignToReference>varNewResourceRequest.pse__Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewResourceRequest.pse__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AvailableProjectList.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewResourceRequest.pse__Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewResourceRequest.pse__Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Project_Record_Get.pse__Region__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewResourceRequest.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Project_Record_Get.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewResourceRequest.pse__End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewResourceRequest.pse__SOW_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewResourceRequest.PMO_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varEmailAddressByRegion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Resource_Request_Create</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks whether the variable from the previous Get Record element contains a value (if it doesn&apos;t, it means the user doesn&apos;t currently have access to Resource Request object).</description>
        <name>Does_User_Have_Access_Decision</name>
        <label>Does User Have Access?</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Resource_Request_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Permission_Control_for_User_Get</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Grant_Access_to_Resource_Request_Object_Create</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Look up the project region to route the email to the appropriate PS team members.</description>
        <name>Project_Region_Decision</name>
        <label>Project Region</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Assign_EMEA_Email_Address_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>EMEA</defaultConnectorLabel>
        <rules>
            <name>Americas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project_Record_Get.pse__Region__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>&apos;Americas&apos;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Americas_Email_Address_Assignment</targetReference>
            </connector>
            <label>Americas</label>
        </rules>
        <rules>
            <name>APAC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project_Record_Get.pse__Region__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>&apos;APAC&apos;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_APAC_Email_Address_Assignment</targetReference>
            </connector>
            <label>APAC</label>
        </rules>
    </decisions>
    <description>This screen flow specific to PS Community customers allows them to submit a resource request (FF Resource Request object) right from the Community. JIRA: SFDCSPT-700</description>
    <interviewLabel>FF RESOURCE REQUEST: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FF RESOURCE REQUEST: ! 8 Allow PS Customer to Create Resource Request in Community</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create a new resource request record based on the inputs of the PS Community customer.</description>
        <name>Create_New_Resource_Request_Create</name>
        <label>Create New Resource Request</label>
        <locationX>314</locationX>
        <locationY>1346</locationY>
        <connector>
            <targetReference>Email_PS_Team_Action</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>varNewResourceRequest</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Grant the PS customer user (person submitting the resource request) temporary access to Resource Request object by creating Permission Control object record for Resource Request.</description>
        <name>Grant_Access_to_Resource_Request_Object_Create</name>
        <label>Grant Access to Resource Request Object</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignRecordIdToReference>varPermissionControResourceRequestlId</assignRecordIdToReference>
        <connector>
            <targetReference>Resource_Request_Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>pse__Cascading_Permission__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Region__c</field>
            <value>
                <stringValue>a4K6A000000PWMDUA4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Resource_Request_Entry__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__User__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>pse__Permission_Control__c</object>
    </recordCreates>
    <recordLookups>
        <description>Get the Permission Control object record for Resource Request for the PS customer user (person submitting the resource request).</description>
        <name>Get_Permission_Control_for_User_Get</name>
        <label>Get Permission Control for User</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_User_Have_Access_Decision</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>pse__Resource_Request_Entry__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pse__Permission_Control__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Fetch the record of the project selected by the PS Community customer and store the entire record in a variable.</description>
        <name>Get_Project_Record_Get</name>
        <label>Get Project Record</label>
        <locationX>314</locationX>
        <locationY>770</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Project_Region_Decision</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AvailableProjectList.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pse__Proj__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <description>This is the screen that appears when the flow fails.</description>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>842</locationX>
        <locationY>1466</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Errors</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>This is the screen the PS community customer uses in the Community to submit a resource request.</description>
        <name>Resource_Request_Screen</name>
        <label>Resource Request Screen</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Project_Record_Get</targetReference>
        </connector>
        <fields>
            <name>Resource_Request_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Resource_Request_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AvailableProjectList</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>pse__Project__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Project</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>pse__Resource_Request__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Resource_Request_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Start_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>This is the screen the PS Community customer is shown upon successful submission of a new resource request.</description>
        <name>Resource_Request_Submitted_Confirmation_Screen</name>
        <label>Resource Request Submitted Confirmation Screen</label>
        <locationX>314</locationX>
        <locationY>1586</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Resource_Request_Submission_Confirmation_Screen</name>
            <fieldText>&lt;p&gt;Thank you for submitting your request! We will get back to you shortly.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Neo4j Professional Services Team&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Permission_Control_for_User_Get</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This variable stores the email address of the appropriate recipients on the PS team based on the project region (e.g., if EMEA, the email is routed to one group of recipients, if Americas, to a different group).</description>
        <name>varEmailAddressByRegion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This record variable stores the new resource request record submitted by the PS Community customer.</description>
        <name>varNewResourceRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>pse__Resource_Request__c</objectType>
    </variables>
    <variables>
        <description>This variable stores the ID of the Permission Control object record for Resource Request.</description>
        <name>varPermissionControResourceRequestlId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
