src/flows/X9_CUSTOMER_PROJECT_PROFILE_RTF_Create_New_CPP_on_Opportunity.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send an existing email alert to the CPP record owner to let them know that a new CPP has been created and assigned to them.</description>
        <name>Email_CPP_Owner_Action</name>
        <label>Email CPP Owner</label>
        <locationX>314</locationX>
        <locationY>1175</locationY>
        <actionName>Customer_Project_Profile__c.CPP_New_CPP_Created</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Create_New_CPP_Record_Create</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send an existing email alert to the CPP record owner to let them know that a new CPP has been created and assigned to them.</description>
        <name>Email_CPP_Owner_Action_0</name>
        <label>Email CPP Owner</label>
        <locationX>50</locationX>
        <locationY>1175</locationY>
        <actionName>Customer_Project_Profile__c.CPP_New_CPP_Created</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Create_New_CPP_Record_Aura_Create</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <description>Check whether the current opportunity has any Aura products attached to it.</description>
        <name>Aura_Opportunity_Decision</name>
        <label>Aura Opportunity?</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Get_CSA_Allocations_Get</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.num_lines_Neo4j_Aura__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CSA_Allocations_Aura_Get</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Automatically creates a new Customer Project Profile (CPP) based on the specified criteria (see inside the Flow), assigns it to the correct user, sets values for key fields, including the CSA and CSM lookup fields, and sends an email alert to the CPP record owner. This flow has different assignments depending on whether the Opportunity has any Aura OLIs attached. JIRA: SFDCSPT-449; SFDCSPT-534; SFDCSPT-625</description>
    <formulas>
        <description>If the original value is &apos;Partner&apos;, update it to &apos;Customer &amp; Partner&apos;. If anything else, update it to &apos;Customer. This formula is used in the Update Record element.</description>
        <name>FormulaAccountType</name>
        <dataType>String</dataType>
        <expression>IF (TEXT({!Get_Opportunity_Account_Get.Type}) = &quot;Partner&quot;, &quot;Customer &amp; Partner&quot;, &quot;Customer&quot;)</expression>
    </formulas>
    <formulas>
        <description>This formula sets the date and time to now.</description>
        <name>FormulaDateTimeNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <description>Name of the new CPP to create.</description>
        <name>FormulaNewCPPName</name>
        <dataType>String</dataType>
        <expression>{!Get_Opportunity_Account_Get.Name} &amp; &quot; - &quot; &amp; {!$Record.Name}</expression>
    </formulas>
    <interviewLabel>CUSTOMER PROJECT PROFILE: ! 9 Create New CPP on Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CUSTOMER PROJECT PROFILE: ! 9 Create New CPP on Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create a new CPP record and set its fields.</description>
        <name>Create_New_CPP_Record_Aura_Create</name>
        <label>Create New CPP Record - Aura</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Update_Master_Opportunity_Update_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>Get_Opportunity_Account_Get.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPP_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Success_Account_Manager__c</field>
            <value>
                <elementReference>Get_CSM_Allocations_Aura_Get.CSM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Success_Architect__c</field>
            <value>
                <elementReference>Get_CSA_Allocations_Aura_Get.CSA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FormulaNewCPPName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_CSA_Allocations_Aura_Get.CSA__c</elementReference>
            </value>
        </inputAssignments>
        <object>Customer_Project_Profile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create a new CPP record and set its fields.</description>
        <name>Create_New_CPP_Record_Create</name>
        <label>Create New CPP Record</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Update_Master_Opportunity_Update</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>Get_Opportunity_Account_Get.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPP_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Success_Account_Manager__c</field>
            <value>
                <elementReference>Get_CSM_Allocations_Get.CSM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Success_Architect__c</field>
            <value>
                <elementReference>Get_CSA_Allocations_Get.CSA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FormulaNewCPPName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_CSA_Allocations_Get.CSA__c</elementReference>
            </value>
        </inputAssignments>
        <object>Customer_Project_Profile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>This element fetched a Custom Metadata Type (CMT) that contains the Global Region &lt;&gt; User pairings for CSA assignments for Aura opportunities.</description>
        <name>Get_CSA_Allocations_Aura_Get</name>
        <label>Get CSA Allocations - Aura</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CSM_Allocations_Aura_Get</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.GlobalTerritory__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CSA_Global_Territory_Allocation_Aura__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This element fetched a Custom Metadata Type (CMT) that contains the Global Region &lt;&gt; User pairings for CSA assignments.</description>
        <name>Get_CSA_Allocations_Get</name>
        <label>Get CSA Allocations</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CSM_Allocations_Get</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.GlobalTerritory__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CSA_Global_Territory_Allocation__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This element fetched a Custom Metadata Type (CMT) that contains the Global Region &lt;&gt; User pairings for CSM assignments for Aura.  opportunities.</description>
        <name>Get_CSM_Allocations_Aura_Get</name>
        <label>Get CSM Allocations - Aura</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_CPP_Record_Aura_Create</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.GlobalTerritory__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CSM_Global_Territory_Allocation_Aura__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This element fetched a Custom Metadata Type (CMT) that contains the Global Region &lt;&gt; User pairings for CSM assignments.</description>
        <name>Get_CSM_Allocations_Get</name>
        <label>Get CSM Allocations</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_CPP_Record_Create</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.GlobalTerritory__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CSM_Global_Territory_Allocation__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Fetch the related Account record and store all of its fields in a record variable.</description>
        <name>Get_Opportunity_Account_Get</name>
        <label>Get Opportunity Account</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Type_Field_on_Account_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Associate the newly created CPP record with the Opportunity that triggered this Flow. This is accomplished by pasting the CPP Id into the &apos;Customer Project Profile&apos; lookup field on the Opportunity record.</description>
        <name>Update_Master_Opportunity_Update</name>
        <label>Update Master Opportunity</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Email_CPP_Owner_Action</targetReference>
        </connector>
        <inputAssignments>
            <field>AutomationBypassDateTime__c</field>
            <value>
                <elementReference>FormulaDateTimeNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Project_Profile__c</field>
            <value>
                <elementReference>Create_New_CPP_Record_Create</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Associate the newly created CPP record with the Opportunity that triggered this Flow. This is accomplished by pasting the CPP Id into the &apos;Customer Project Profile&apos; lookup field on the Opportunity record.</description>
        <name>Update_Master_Opportunity_Update_0</name>
        <label>Update Master Opportunity</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Email_CPP_Owner_Action_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AutomationBypassDateTime__c</field>
            <value>
                <elementReference>FormulaDateTimeNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Project_Profile__c</field>
            <value>
                <elementReference>Create_New_CPP_Record_Aura_Create</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update the &apos;Type&apos; field on the related Account record depending on the original value in the field. If the original value is &apos;Partner&apos;, update it to &apos;Customer &amp; Partner&apos;. If anything else, update it to &apos;Customer. This logic is stored in the FormulaAccountType formula used in this element. This way, we avoid using the Decision element.</description>
        <name>Update_Type_Field_on_Account_Update</name>
        <label>Update &apos;Type&apos; Field on Account</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Aura_Opportunity_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Account_Get.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>FormulaAccountType</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Account_Get</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales Ops Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>Customer_Project_Profile__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Onboarding_Product_Count__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
